<header>
    <h1>관리자 페이지</h1>
    <a href="/" class="return-button">홈</a>
</header>
<div class="content-wrapper">
    <nav id="sticky-nav">
        <ul>
            <li><a href="/adminPage/users">회원 관리</a></li>
            <li><a href="/adminPage/notice">공지사항</a></li>
            <li><a href="/adminPage/community">커뮤니티 관리</a></li>
            <li><a href="/adminPage/reportRequests">신고 문의</a></li>
            <li><a href="/adminPage/reports">처리된 신고 목록</a></li>
        </ul>
    </nav>