
<link rel="stylesheet" type="text/css" href="/css/footer.css">
<script src="/javascript/index.js"></script>

<meta name="viewport" content="width=device-width,initial-scale=1">

<footer id="footer">
  <div>
    <div class="can">
      <img src="/img/CAN.png">
    </div>


    <a>2023 Dongyang Computer Software</a> <br>
	<a>Copyright 2023. CAN All rights reserved.</a>

  </div>
</footer>
