
<link rel="stylesheet" type="text/css" href="/css/footer.css">
<script src="/javascript/index.js"></script>

<!-- <meta name="viewport" content="width=device-width,initial-scale=1"> -->

<footer id="footer">
  <div>
    <div class="can">
      <img src="/img/CAN.png">
    </div>

    <a>개인정보 처리방침 | 서비스 이용약관 | 운영정책 | 쿠키 설정</a> <br>
    <a>2023 Dongyang Computer Software</a> <br>

    <script> document.writeln("한국시간 : " + kr_curr); </script>

    <div id="age15">
      <img src="/img/15.png">
    </div>
  </div>
</footer>
