<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <script src="https://kit.fontawesome.com/3756c8d92c.js" crossorigin="anonymous"></script>
  <style>
    /* CSS 스타일은 여기에 추가 */
  </style>
</head>
<body>
  <div id="header">
    <div class="logo">
      <img src="/img/LOGO.png" onclick="location.href='/'" style="cursor: pointer;">
    </div>

<!-- nav : mobile은 X, PC는 O -->
<ul class="nav">
  <li class="link-1" onclick="location.href='/'">게임정보</li>

  <li class="link-1" onclick="location.href='/notice'">공지사항</li>

  <li class="link-1" onclick="location.href='/community'">커뮤니티</li>

  <li class="link-1" onclick="location.href='/rank'">랭킹</li>

  <li class="link-1" onclick="location.href='/auth/customer'">고객지원</li>

  <% if (is_logined) { %>
    <li class="link-1" onclick="location.href='/auth/mypage'"><%= nickname %> 님 </li>
    <li class="link-1" onclick="location.href='/auth/logout'">로그아웃</li>
    <% } else { %>
      <li class="link-1" onclick="location.href='/auth/login'">로그인</li>
      <% } %>
</ul>

<a class="nav-button" href="#">
  <i class="fa-solid fa-bars fa-2xl"></i>
</a>

</div>

<div class="nav-toggle-button">
  <ul>
    <li class="link-1" onclick="location.href='/'" style="color: white;">게임정보</li>

    <li class="link-1" onclick="location.href='/notice'" style="color: white;">공지사항</li>

    <li class="link-1" onclick="location.href='/community'"" style="color: white;">커뮤니티</li>

    <li class="link-1" onclick="location.href='/rank'" style="color: white;">랭킹</li>

    <li class="link-1" onclick="location.href='/auth/customer'" style="color: white;">고객지원</li>

    <% if (is_logined) { %>
      <li class="link-1" onclick="location.href='/auth/mypage'" style="color: white;"> 마이페이지 </li>
      <li class="link-1" onclick="location.href='/auth/logout'" style="color: white;">로그아웃</li>
    <% } else { %>
      <li class="link-1" onclick="location.href='/auth/login'" style="color: white;">로그인</li>
    <% } %>
  </ul>
</div>

  <script>
    const navButton = document.querySelector(".nav-button");
    const navToggleButton = document.querySelector(".nav-toggle-button");

    navButton.addEventListener("click", () => {
      navToggleButton.classList.toggle("active"); // active 클래스 토글
    });
  </script>
</body>
</html>
