<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--글꼴 Link-->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

  <!--CSS-->
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/header.css">
  <link rel="stylesheet" type="text/css" href="css/footer.css">

  <link rel="stylesheet" type="text/css" href="css/commuForm.css">

  <!-- JavaScript -->
  <script src="javascript/index.js"></script>

  <!--Title-->
  <title> CAN </title>

</head>

<body>
  <!-- header -->
  <div id="header">
    <div class="logo">
      <img src="/img/LOGO.png" onclick="location.href='index.html'" style="cursor: pointer;">
    </div>
    <ul class="nav">
      <li class="link-1"><a href="gameinfo.html"> 게임정보 </a></li>
      <li class="link-1"><a href="info.html"> 공지사항 </a></li>
      <li class="link-1"><a href="commu.html"> 커뮤니티 </a></li>
      <li class="link-1"><a href="rank.html"> 랭킹 </a></li>
      <li class="link-1"><a href="customer.html"> 고객지원 </a></li>
      <li class="link-1"><a href="login.html"> 로그인 </a></li>
    </ul>
  </div>

  <!-- Section -->
  <section id="section">
    <div id="layout">

      <div id="first">
        <button> 다음글 </button>
        <button onclick="location.href='commu.html'"> 목록 </button>
      </div>

      <div id="second">
        <h4> > 커뮤니티 </h4>
        <h1> [ CAN ] 2023/07/27 웹 회의 </h1>
      </div>

      <div id="third">
        <div class="profile"></div>
        <div>
          <p class="ninkname" name="mem_nickname"> 정예은 </p>
          <p class="date"> <a> 2023/07/27 PM 07:19 </a> <a href="commuEdit.html"> 수정 </a> </p>
        </div>
      </div>

      <hr>

      <div id="fourth">
        <p>1. 만들어야 할 것 : 마이페이지/프로필관련 UI <br>
          2. 수정해야 할 것 : 게임 페이지/글쓰기, 수정/회원가입 UI <br>
          3. 글쓰기, 수정 UI에 텍스트 편집기+이미지 삽입+첨부파일 추가 <br>
          4. 동적 기능 추가 (ex. e-mail 인증번호 칸+game페이지 etc...)</p>
      </div>

      <hr>

      <div id="fifth">
        <h2> 댓글 </h2>

        <div class="fifthFifth">
          <p class="ninkname"> 정예은 </p>
          <p><a class="date"> 2023/07/27 PM 02:14 </a> <a class="commentEdit">수정</a></p>
        </div>

        <div> 댓글 내용입니다. </div>

        <div id="fifthFifthComment"> 답글 </div>
      </div>
      
      <div id="fifthComment">
        <div class="fifthFifth">
          <p class="ninkname"> 정예은 </p>
          <p><a class=date> 2023/07/27 PM 03:14</a></p>
        </div>

        <div> 답글 내용입니다. </div>
      </div>

      <hr>

      <div id="sixth">
        <p name="mem_nickname"> 정예은 </p>
        <textarea id="commentArea"> 댓글을 입력하세요.</textarea>
        <div class="submit">
          <p> 0 byte </p>
          <button class="button btnFade btnBlack"> 등록 </button>
        </div>
      </div>

    </div>
  </section>

  <!-- footer -->
  <footer id="footer">
    <div>
      <div class="can">
        <img src="/img/CAN.png">
      </div>

      <a>개인정보 처리방침 | 서비스 이용약관 | 운영정책 | 쿠키 설정</a> <br>
      <a>2023 Dongyang Computer Software</a> <br>

      <script> document.writeln("한국시간 : " + kr_curr); </script>

      <div id="age15">
        <img src="/img/15.png">
      </div>
    </div>
  </footer>

</body>

</html>