<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--글꼴 Link-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">

    <link rel="stylesheet" type="text/css" href="/css/commuEdit.css">

    <!-- JavaScript -->
    <script src="/javascript/index.js"></script>

    <!--Title-->
    <title> CAN </title>

</head>

<body>
    <!-- header -->
    <div id="header">
        <div class="logo">
            <img src="/img/LOGO.png" onclick="location.href='index.html'" style="cursor: pointer;">
        </div>
        <ul class="nav">
            <li class="link-1"><a href="gameinfo.html"> 게임정보 </a></li>
            <li class="link-1"><a href="info.html"> 공지사항 </a></li>
            <li class="link-1"><a href="commu.html"> 커뮤니티 </a></li>
            <li class="link-1"><a href="rank.html"> 랭킹 </a></li>
            <li class="link-1"><a href="customer.html"> 고객지원 </a></li>
            <li class="link-1"><a href="login.html"> 로그인 </a></li>
        </ul>
    </div>

    <!-- Section -->
<section id="section">
    <div id="layout">
        <div id="sectionTitle">
            <h1> 글 수정 </h1>
            <hr>
        </div>

        <form id="form" action="" method="">
            <div id="titleForm" class="form">
                <h4> 제목 </h4>
                <input type="text" name="post_title" id="post_title" placeholder="제목을 입력해 주세요"
                    value="<%= data.post_title %>" class="form-control" required>
            </div>

            <div id="contentForm" class="form">
                <h4> 내용 </h4>
                <textarea name="post_content" id="post_content" class="form-control" rows="5"
                    required><%= data.post_content %></textarea>
            </div>

            <div id="tagForm" class="form">
                <h4> 태그 </h4>
                <input type="text" class="form-control" name="tag" id="tag" placeholder="태그를 입력해 주세요">
            </div>
            <br>
            <div style="display: flex; justify-content: center; ">

                <div class="btn">
                    <input type="button" data-action="edit" value="수정하기" class="custom-btn btn-16" onclick="submitForm('edit')">
                </div>
                <div class="btn">
                    <input type="button" data-action="delete" value="삭제하기" class="custom-btn btn-16" onclick="submitForm('delete')">
                </div>
            </div>

            <!-- 액션 타입을 전달할 input 태그 추가 -->
            <input type="hidden" name="actionType" id="actionType" value="">
        </form>

    </div>
</section>

<script>
    function submitForm(actionType) {
        const form = document.getElementById("form");
        const actionTypeField = document.getElementById("actionType");

        if (actionType === "edit") {
            form.setAttribute("method", "post");
            form.action = "/community/edit/<%= data.post_num %>";
        } else if (actionType === "delete") {
            form.setAttribute("method", "get");
            form.action = "/community/delete/<%= data.post_num %>";
        }

        // 액션타입 값을 히든 필드에 설정
        actionTypeField.value = actionType;

        // 폼 제출
        form.submit();
    }
</script>

    <!-- footer -->
    <footer id="footer">
        <div>
            <div class="can">
                <img src="/img/CAN.png">
            </div>

            <a>개인정보 처리방침 | 서비스 이용약관 | 운영정책 | 쿠키 설정</a> <br>
            <a>2023 Dongyang Computer Software</a> <br>

            <script> document.writeln("한국시간 : " + kr_curr); </script>

            <div id="age15">
                <img src="/img/15.png">
            </div>
        </div>
    </footer>

</body>

</html>