<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--글꼴 Link-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/boardInsert.css">

    <!-- JavaScript -->
    <script src="/javascript/index.js"></script>
    <!-- 반응형 웹 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Title-->
    <title> CAN </title>

</head>

<body>
    <!-- header -->
    <%- include('partials/header')%>


        <!-- Section -->
        <section id="section">

            <div id="layout">
                <div id="sectionTitle">
                    <h1> 커뮤니티 글쓰기 </h1>
                    <hr>
                </div>

                <form action="/community/insert" method="post" enctype="multipart/form-data">
                    <div id="titleForm" class="form">
                        <!-- <label for="post_title">Title:</label> -->
                        <div id="contentForm" class="form">
                            <p>작성자: <%= userId %> </p>
                            </div>
                        <h4> 제목 </h4>
                        <input type="text" name="post_title" id="post_title" class="form-control"
                            placeholder="제목을 입력해 주세요" required>
                    </div>
                                        
                    <div id="contentForm" class="form">
                        <h4> 첨부파일 </h4>
                        <input type="file" name="post_image" id="post_image" class="form-control" accept="image/*">
                        <img id="imagePreview" src="#" alt="Image Preview" style="display: none; max-width: 200px;">
                    </div>

                    <div id="contentForm" class="form">
                        <!-- <label for="post_content">Content:</label> -->
                        <h4> 내용 </h4>
                        <textarea name="post_content" id="post_content" class="form-control" rows="5"
                            placeholder="내용을 입력해 주세요" required></textarea>
                    </div>

                    <!-- <label for="post_usernum">usernum:</label> -->
                   
                    <!-- <div id="contentForm" class="form">
                     <label for="post_hit">hit:</label>
                    <h4> 조회수 </h4>
                    <textarea name="post_hit" id="post_hit" required></textarea>
                </div>
                <br> -->

                    <div id="tagForm" class="form">
                        <h4> 태그 </h4>
                        <input type="text" class="form-control" name="tag" id="tag" placeholder="태그를 입력해 주세요">
                    </div>

                    <div id="btn">
                        <input type="submit" value="글쓰기" class="custom-btn btn-16">
                    </div>
                </form>
            </div>
        </section>

        <!-- footer -->
        <%- include('partials/footer')%>

        <script>
            document.getElementById('post_image').addEventListener('change', function(e) {
                const imageInput = e.target;
                const imagePreview = document.getElementById('imagePreview');
    
                if (imageInput.files && imageInput.files[0]) {
                    const reader = new FileReader();
    
                    reader.onload = function(e) {
                        imagePreview.src = e.target.result;
                        imagePreview.style.display = 'block';
                    }
    
                    reader.readAsDataURL(imageInput.files[0]);
                } else {
                    imagePreview.style.display = 'none';
                }
            });
        </script>

</body>

</html>