<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--글꼴 Link-->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

  <!--CSS-->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/customer.css">

  <!-- JavaScript -->
  <script src="/javascript/index.js"></script>
  <!-- 반응형 웹 -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Title-->
  <title> CAN </title>

</head>

<body>
  <!-- header -->
  <%- include('partials/header')%>

  <!-- Section -->
  <section id="section">
    <div id="first">
      <img src="/img/logoCustomer.png">
      <a> 010-1234-5678 / yeeunj356@gmail.com </a>
    </div>
    <div id="second">
      <form action="/auth/customer_send" method="post">
      <h2> Let the various voices of users be heard. </h2>
      <h4> 사용자 여러분의 다양한 목소리를 들려주세요. </h4>

      <div class="h5">
        <h5> | 서비스 이용자 정보 </h5>
      </div>

      <div id="divName">
        <input class="inputBox" type="text" name="name" placeholder="Your name" required>
      </div>

      <div id="divEmail">
        <input class="inputBox" type="text" name="email" placeholder="Your E-mail" required>
      </div>

      <div id="divNumber">
        <input class="inputBox" type="text" name="phone" placeholder="Your PhoneNumber" required>
      </div>

      <div class="h5">
          <h5> | 전달 내용 <button id="btnFile" type="button" onclick="handleFileButtonClick()"> 첨부파일 </button> </h5>
        </div>

      <div id="contents">
        <textarea class="contentsBox" name="contents" placeholder="Content" required></textarea>
      </div>

        <button class="custom-btn" type="submit"> SENT </button>
      </form>

    </div>
  </section>
  <script>
    function handleFileButtonClick() {
      // 파일 선택 버튼 클릭 시 파일 선택 대화상자 열기
      const fileInput = document.createElement('input');
      fileInput.type = 'file';
      fileInput.style.display = 'none'; // 화면에 표시하지 않음
      fileInput.addEventListener('change', function () {
        // 파일 선택 이벤트 처리 (이 부분에 파일을 선택했을 때의 동작을 추가)
        // 예를 들어, 파일 정보를 얻거나 파일 업로드를 처리할 수 있습니다.
        // 이 부분을 파일 선택 이벤트에 맞게 수정하세요.
      });
      document.body.appendChild(fileInput);
      fileInput.click(); // 파일 선택 대화상자 열기
    }
  </script>

  <!-- footer -->
  <%- include('partials/footer')%>

</body>

</html>