<!DOCTYPE html>
<html>
<head>
    <title>Edit Post</title>
</head>
<body>
    <h1>Edit Post</h1>
    <form action="/edit/<%= data.post_num %>" method="post">
        <label for="post_title">Title:</label>
        <input type="text" name="post_title" id="post_title" value="<%= data.post_title %>" required>
        <br>
        <label for="post_content">Content:</label>
        <textarea name="post_content" id="post_content" required><%= data.post_content %></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
