<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--글꼴 Link-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link href="https://db.onlinewebfonts.com/c/1db29588408eadbd4406aae9238555eb?family=Consolas" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/css/loading.css">

    <!-- 반응형 웹 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Title-->
    <title> CAN </title>

</head>

<body>
<p id="userCode" style="display: none"><%= userCode %></p>
<section>
    <div id="matching">
        <form action="/game" method="post" id="gamepage">
            <div id="console">
                <p>Prison VReak [Version 1.0.0 Release 2023.10.23]</p>
                <p>Create By CAN</p>
                <p></p>
                <br>
                <p>파트너( VR 유저 )의 코드를 입력하세요 : <input type="text" id="partnerCode" name="partnerCode" required></p>
                <div id="status"></div>
                <p onclick="location.href='/'" id="exit">< EXIT</p>
            </div>
        </form>
    </div>
</section>

<script>

    document.getElementById('gamepage').addEventListener('submit', function(event) {
        // submit 이벤트의 기본 동작 취소
        event.preventDefault();
    });

    const partnerCodeInput = document.getElementById("partnerCode");


    partnerCodeInput.addEventListener("keydown", (event) => {
        if (event.key === "Enter") {
            const partnerCode = partnerCodeInput.value;
            if(partnerCode !== "") {
                partnerCodeInput.readOnly = true;
                const consolediv = document.getElementById('console');
                let exit = consolediv.querySelector('#exit');
                exit.removeAttribute('onclick');
                exit.textContent = "";
                runSequence();
            }
        }
    });
    function runSequence() {
        const partnerCode = document.getElementById("partnerCode").value;
        createOrJoinRoom(partnerCode)
            .then(result => {
                console.log(result);
                if(result){
                    checkMatchingStatus();
                }

            })
            .catch(error => {
                // 오류 처리
            });

    }

    function createOrJoinRoom(connectionId) {
        return new Promise((resolve, reject) => {
            const statusdiv = document.getElementById('status');
            const p = document.createElement("p");
            p.textContent = "방을 찾는중...";
            statusdiv.appendChild(p);

            fetch('/webCreateOrJoinRoom', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ connectionId: connectionId })
            })
                .then(response => response.text())
                .then(data => {
                    if (data === '본인의 유저코드를 사용할수 없습니다.' || data === '존재하지 않는 유저코드입니다.') {
                        const error = document.createElement("p");
                        error.textContent = "Error : " + data;
                        statusdiv.appendChild(error);
                        resetStatus('다시하기');
                        resolve(false); // Promise를 해결하여 false 반환
                    } else if (data === '생성' || data === '참가') {
                        const error = document.createElement("p");
                        error.textContent = "방 " + data + " 완료!";
                        statusdiv.appendChild(error);
                        resolve(true); // Promise를 해결하여 true 반환
                    } else {
                        reject(new Error('Unknown response')); // 알 수 없는 응답에 대한 오류 처리
                    }
                })
                .catch(error => {
                    console.error('오류 발생', error);
                    reject(error);
                });
        });
    }


    function checkMatchingStatus() {
        const partnerCode = document.getElementById("partnerCode").value;
        const userCode = document.getElementById("userCode").textContent;
        let checked = false;
        const url = '/checkMatching';
        const statusdiv = document.getElementById('status');
        const promises = [];

        for (let i = 0; i < 5; i++) {
            let p = document.createElement("p");
            p.textContent = "...";


            const promise = new Promise(resolve => {
                setTimeout(() => {
                    fetch(url, {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ vr_userCode: partnerCode, web_userCode: userCode })
                    })
                        .then(response => response.text())
                        .then(data => {
                            if (data === '매칭 성공') {
                                checked = true;
                            }
                            resolve();
                        })
                        .catch(error => console.error('오류 발생', error));
                    statusdiv.appendChild(p);
                }, 750 * i);
            });

            promises.push(promise);
        }

        Promise.all(promises).then(() => { // 모든 fetch 요청들이 완료된 후
            setTimeout(() => { // 추가로 1초 뒤
                if (checked) {
                    let pSuccess = document.createElement("p");
                    pSuccess.textContent = "매칭 성공!";
                    statusdiv.appendChild(pSuccess);
                    setTimeout(() => {
                        const gameform = document.getElementById("gamepage");
                        gameform.submit();
                    }, 750);
                } else {
                    let pFail = document.createElement("p");
                    pFail.textContent = "매칭 실패..";
                    statusdiv.appendChild(pFail);
                    fetch('/deleteRoom', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ connectionId: partnerCode }),
                        keepalive : true
                    });
                    setTimeout(()=>{
                        resetStatus('리셋');
                    }, 750)
                }
            }, 750);
        });
    }

    function resetStatus(status){
        const partnerCode = document.getElementById("partnerCode");
        const consolediv = document.getElementById('console');
        const statusdiv = document.getElementById('status');
        const exit = consolediv.querySelector("#exit");
        if(status === '리셋') {
            partnerCode.readOnly = false;
            partnerCode.value = '';
            let pTags = statusdiv.getElementsByTagName('p');
            while (pTags.length > 0) {
                statusdiv.removeChild(pTags[0]);
            }
            exit.textContent = '< EXIT';
            exit.addEventListener("click", function () {
                location.href = '/';
            });
        }
        else if(status === '다시하기'){
            exit.textContent = "< BACK";
            exit.addEventListener("click", function () {
                resetStatus('리셋');
            });
        }
    }

</script>
</body>

</html>