<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--글꼴 Link-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">

    <link rel="stylesheet" type="text/css" href="/css/info.css">

    <!-- JavaScript -->
    <script src="/javascript/index.js"></script>

    <!--Title-->
    <title> CAN </title>

</head>

<body>

  <!-- header -->
  <div id="header">
    <div class="logo">
      <img src="/img/LOGO.png" onclick="location.href='index.html'" style="cursor: pointer;">
    </div>
      <ul class="nav"> 
        <li class="link-1"><a href="gameinfo.html"> 게임정보 </a></li>
        <li class="link-1"><a href="info.html"> 공지사항 </a></li>
        <li class="link-1"><a href="commu.html"> 커뮤니티 </a></li>
        <li class="link-1"><a href="rank.html"> 랭킹 </a></li>
        <li class="link-1"><a href="customer.html"> 고객지원 </a></li>
        <li class="link-1"><a href="login.html"> 로그인 </a></li>
      </ul>
  </div>

  <!-- Section -->
  <section id="section">
    <div id="first">
      
      <div class="container">
        <!-- Section -->
        <div id="firstSection" class="item">
          <img src="/img/logoInfo.png">
          <div id="search">
            <input type="text" name="search" value="">
            <button type="submit">검색</button>
          </div>
        </div>

        <!-- Section -->
        <div id="secondSection" class="item">
          <img src="img/grandopenInfo.png">
        </div>

      </div>

      <!-- Section -->
      <div id="thirdSection">
        <div id="thirdSectionBox">
            <div id="firstBoxSection">
                <div id="firstBox" class="boxSection">
                    <div class="boxbox">
                        <table id="firstBoxSection">
                            <thead>
                                <tr class="title">
                                    <th>사진</th>
                                    <th>번호</th>
                                    <th>제목</th>
                                </tr>
                            </thead>
                            <tbody class="content">
                                <% data.forEach(function(post) { %>
                                    <tr>
                                        <td>
                                            <div>사진</div>
                                        </td>
                                        <td>
                                            <%= post.post_num %>
                                        </td>
                                        <td>
                                            <a href="notice/show/<%= post.post_num %>">
                                                <%= post.post_title %>
                                            </a>
                                        </td>
                                    </tr>zz
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="secondBoxSection">
                <div id="moreBox"> more </div>
            </div>
        </div>
    </div>
  </section>

  <!-- footer -->
  <footer id="footer">
      <div>
      <div class="can">
        <img src="/img/CAN.png">
      </div>

      <a>개인정보 처리방침 | 서비스 이용약관 | 운영정책 | 쿠키 설정</a> <br>
      <a>2023 Dongyang Computer Software</a> <br>

      <script> document.writeln("한국시간 : " + kr_curr); </script>

      <div id="age15">
        <img src="/img/15.png">
      </div>
    </div>
  </footer>

</body>

</html>