<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--글꼴 Link-->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

  <!--CSS-->
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/header.css">
  <link rel="stylesheet" type="text/css" href="css/footer.css">

  <link rel="stylesheet" type="text/css" href="css/profile.css">

  <!-- JavaScript -->
  <script src="javascript/index.js"></script>

  <!--Title-->
  <title> CAN </title>

</head>

<body>
  <!-- header -->
  <div id="header">
    <div class="logo">
      <img src="/img/LOGO.png" onclick="location.href='index.html'" style="cursor: pointer;">
    </div>
      <ul class="nav"> 
        <li class="link-1"><a href="gameinfo.html"> 게임정보 </a></li>
        <li class="link-1"><a href="info.html"> 공지사항 </a></li>
        <li class="link-1"><a href="commu.html"> 커뮤니티 </a></li>
        <li class="link-1"><a href="rank.html"> 랭킹 </a></li>
        <li class="link-1"><a href="customer.html"> 고객지원 </a></li>
        <li class="link-1"><a href="login.html"> 로그인 </a></li>
      </ul>
  </div>

  <!-- Section -->
  <section id="section">
    <div id="container">
      <img src="img/cat.png">

      <div id="profileCon">
        <h2> 정예은 </h2>
        <h5> ID yeeunyeeun </h5>

        <a>
          puzzle 000:000:000
        </a>
        <a>
          total 000:000:000
        </a>

        <div id="introduce">
          <div>
            <a> 정예은임 </a>
          </div>
        </div>

        <hr>

      </div>

      <div id="commuCon">
        <h2> 최근 글 </h2>
        <table>
          <thead>
            <tr>
              <th>번호</th>
              <th>제목</th>
              <th>조회수</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>04</td>
              <td><a href="commuForm.html">[ CAN ] 2023/07/27 웹 회의</a></td>
              <td>0</td>
            </tr>
            <tr>
              <td>04</td>
              <td><a href="commuForm.html">[ CAN ] 2023/07/27 웹 회의</a></td>
              <td>0</td>
            </tr>
            <tr>
              <td>04</td>
              <td><a href="commuForm.html">[ CAN ] 2023/07/27 웹 회의</a></td>
              <td>0</td>
            </tr>
            <tr>
              <td>04</td>
              <td><a href="commuForm.html">[ CAN ] 2023/07/27 웹 회의</a></td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <!-- footer -->
  <footer id="footer">
    <div>
      <div class="can">
        <img src="/img/CAN.png">
      </div>

      <a>개인정보 처리방침 | 서비스 이용약관 | 운영정책 | 쿠키 설정</a> <br>
      <a>2023 Dongyang Computer Software</a> <br>

      <script> document.writeln("한국시간 : " + kr_curr); </script>

      <div id="age15">
        <img src="/img/15.png">
      </div>
    </div>
  </footer>

</body>

</html>