<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--글꼴 Link-->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

  <!--CSS-->
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/header.css">
  <link rel="stylesheet" type="text/css" href="css/footer.css">

  <link rel="stylesheet" type="text/css" href="css/rank.css">

  <!-- JavaScript -->
  <script src="javascript/index.js"></script>

  <!--Title-->
  <title> CAN </title>

</head>

<body>
  <!-- header -->
  <div id="header">
    <div class="logo">
      <img src="/img/LOGO.png" onclick="location.href='index.html'" style="cursor: pointer;">
    </div>
      <ul class="nav"> 
        <li class="link-1"><a href="gameinfo.html"> 게임정보 </a></li>
        <li class="link-1"><a href="info.html"> 공지사항 </a></li>
        <li class="link-1"><a href="commu.html"> 커뮤니티 </a></li>
        <li class="link-1"><a href="rank.html"> 랭킹 </a></li>
        <li class="link-1"><a href="customer.html"> 고객지원 </a></li>
        <li class="link-1"><a href="login.html"> 로그인 </a></li>
      </ul>
  </div>

  <!-- Section -->
  <section id="section">
    <img src="img/rankLogo.png" style="margin-bottom: 80px;">

    <div id="date">
      <p>2023.07.24</p>
      <p>Prison VReak</p>
    </div>

    <!-- 첫번째 -->
    <div class="box">
      <div class="number">
        <img src="img/numberOne.png">
      </div>

      <div class="content">
        <div id="name"> NAME </div>
        <div id="puzzlePlayTime"> PUZZLE PLAY TIME </div>
        <div id="totalPlayTime"> TOTAL PLAY TIME </div>
      </div>
    </div>

        <!-- 첫번째 -->
    <div class="box">
      <div class="number">
        <img src="img/numberTwo.png">
      </div>

      <div class="content">
        <div id="name"> NAME </div>
        <div id="puzzlePlayTime"> PUZZLE PLAY TIME </div>
        <div id="totalPlayTime"> TOTAL PLAY TIME </div>
      </div>
    </div>

    <!-- 첫번째 -->
    <div class="box">
      <div class="number">
        <img src="img/numberThree.png">
      </div>

      <div class="content">
        <div id="name"> NAME </div>
        <div id="puzzlePlayTime"> PUZZLE PLAY TIME </div>
        <div id="totalPlayTime"> TOTAL PLAY TIME </div>
      </div>
    </div>

    <!-- 첫번째 -->
    <div class="box">
      <div class="number">
        <img src="img/numberFour.png">
      </div>

      <div class="content">
        <div id="name"> NAME </div>
        <div id="puzzlePlayTime"> PUZZLE PLAY TIME </div>
        <div id="totalPlayTime"> TOTAL PLAY TIME </div>
      </div>
    </div>

    <!-- 첫번째 -->
    <div class="box">
      <div class="number">
        <img src="img/numberFive.png">
      </div>

      <div class="content">
        <div id="name"> NAME </div>
        <div id="puzzlePlayTime"> PUZZLE PLAY TIME </div>
        <div id="totalPlayTime"> TOTAL PLAY TIME </div>
      </div>
    </div>

    <!-- 첫번째 -->
    <div class="box">
      <div class="number">
        <img src="img/numberSix.png">
      </div>

      <div class="content">
        <div id="name"> NAME </div>
        <div id="puzzlePlayTime"> PUZZLE PLAY TIME </div>
        <div id="totalPlayTime"> TOTAL PLAY TIME </div>
      </div>
    </div>

    <!-- 첫번째 -->
    <div class="box">
      <div class="number">
        <img src="img/numberSeven.png">
      </div>

      <div class="content">
        <div id="name"> NAME </div>
        <div id="puzzlePlayTime"> PUZZLE PLAY TIME </div>
        <div id="totalPlayTime"> TOTAL PLAY TIME </div>
      </div>
    </div>

    <!-- 첫번째 -->
    <div class="box">
      <div class="number">
        <img src="img/numberEight.png">
      </div>

      <div class="content">
        <div id="name"> NAME </div>
        <div id="puzzlePlayTime"> PUZZLE PLAY TIME </div>
        <div id="totalPlayTime"> TOTAL PLAY TIME </div>
      </div>
    </div>

    <!-- 첫번째 -->
    <div class="box">
      <div class="number">
        <img src="img/numberNine.png">
      </div>

      <div class="content">
        <div id="name"> NAME </div>
        <div id="puzzlePlayTime"> PUZZLE PLAY TIME </div>
        <div id="totalPlayTime"> TOTAL PLAY TIME </div>
      </div>
    </div>

    <!-- 첫번째 -->
    <div class="box">
      <div class="number">
        <img src="img/numberTen.png">
      </div>

      <div class="content">
        <div id="name"> NAME </div>
        <div id="puzzlePlayTime"> PUZZLE PLAY TIME </div>
        <div id="totalPlayTime"> TOTAL PLAY TIME </div>
      </div>
    </div>

  </section>

  <!-- footer -->
  <footer id="footer">
      <div>
      <div class="can">
        <img src="/img/CAN.png">
      </div>

      <a>개인정보 처리방침 | 서비스 이용약관 | 운영정책 | 쿠키 설정</a> <br>
      <a>2023 Dongyang Computer Software</a> <br>

      <script> document.writeln("한국시간 : " + kr_curr); </script>

      <div id="age15">
        <img src="/img/15.png">
      </div>
    </div>
  </footer>

</body>

</html>