<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--글꼴 Link-->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

  <!--CSS-->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/rank.css">

  <!-- JavaScript -->
  <script src="/javascript/index.js"></script>
    <!-- 반응형 웹 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Title-->
    <title> CAN </title>

</head>

<body>

<!-- header -->
<%- include('partials/header')%>

  <!-- Section -->
  <section id="section">
    <img src="/img/rankLogo.png" style="margin-bottom: 80px;">

    <div id="date">
      <p>2023.07.24</p>
      <p>Prison VReak</p>
    </div>

    <!-- 첫번째 -->
    <div class="box">
      <div class="number">
        <img src="/img/numberOne.png">
      </div>

      <div class="content">
        <div id="name"> NAME </div>
        <div id="puzzlePlayTime"> PUZZLE PLAY TIME </div>
        <div id="totalPlayTime"> TOTAL PLAY TIME </div>
      </div>
    </div>

        <!-- 첫번째 -->
    <div class="box">
      <div class="number">
        <img src="/img/numberTwo.png">
      </div>

      <div class="content">
        <div id="name"> NAME </div>
        <div id="puzzlePlayTime"> PUZZLE PLAY TIME </div>
        <div id="totalPlayTime"> TOTAL PLAY TIME </div>
      </div>
    </div>

    <!-- 첫번째 -->
    <div class="box">
      <div class="number">
        <img src="/img/numberThree.png">
      </div>

      <div class="content">
        <div id="name"> NAME </div>
        <div id="puzzlePlayTime"> PUZZLE PLAY TIME </div>
        <div id="totalPlayTime"> TOTAL PLAY TIME </div>
      </div>
    </div>

    <!-- 첫번째 -->
    <div class="box">
      <div class="number">
        <img src="/img/numberFour.png">
      </div>

      <div class="content">
        <div id="name"> NAME </div>
        <div id="puzzlePlayTime"> PUZZLE PLAY TIME </div>
        <div id="totalPlayTime"> TOTAL PLAY TIME </div>
      </div>
    </div>

    <!-- 첫번째 -->
    <div class="box">
      <div class="number">
        <img src="/img/numberFive.png">
      </div>

      <div class="content">
        <div id="name"> NAME </div>
        <div id="puzzlePlayTime"> PUZZLE PLAY TIME </div>
        <div id="totalPlayTime"> TOTAL PLAY TIME </div>
      </div>
    </div>

    <!-- 첫번째 -->
    <div class="box">
      <div class="number">
        <img src="/img/numberSix.png">
      </div>

      <div class="content">
        <div id="name"> NAME </div>
        <div id="puzzlePlayTime"> PUZZLE PLAY TIME </div>
        <div id="totalPlayTime"> TOTAL PLAY TIME </div>
      </div>
    </div>

    <!-- 첫번째 -->
    <div class="box">
      <div class="number">
        <img src="/img/numberSeven.png">
      </div>

      <div class="content">
        <div id="name"> NAME </div>
        <div id="puzzlePlayTime"> PUZZLE PLAY TIME </div>
        <div id="totalPlayTime"> TOTAL PLAY TIME </div>
      </div>
    </div>

    <!-- 첫번째 -->
    <div class="box">
      <div class="number">
        <img src="/img/numberEight.png">
      </div>

      <div class="content">
        <div id="name"> NAME </div>
        <div id="puzzlePlayTime"> PUZZLE PLAY TIME </div>
        <div id="totalPlayTime"> TOTAL PLAY TIME </div>
      </div>
    </div>

    <!-- 첫번째 -->
    <div class="box">
      <div class="number">
        <img src="/img/numberNine.png">
      </div>

      <div class="content">
        <div id="name"> NAME </div>
        <div id="puzzlePlayTime"> PUZZLE PLAY TIME </div>
        <div id="totalPlayTime"> TOTAL PLAY TIME </div>
      </div>
    </div>

    <!-- 첫번째 -->
    <div class="box">
      <div class="number">
        <img src="/img/numberTen.png">
      </div>

      <div class="content">
        <div id="name"> NAME </div>
        <div id="puzzlePlayTime"> PUZZLE PLAY TIME </div>
        <div id="totalPlayTime"> TOTAL PLAY TIME </div>
      </div>
    </div>

  </section>

<!-- footer -->
<%- include('partials/footer')%>
</body>

</html>
