.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
}

/* 모달 내용 스타일 */
.modal-content {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    height: auto;
    position: fixed;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #666;
    font-size: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}

#submitButton {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submitButton:hover {
    background-color: #0056b3;
}

.openModalButton {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.openModalButton:hover {
    background-color: #cc0000;
}

.form_button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form_button:hover {
    background-color: #0056b3;
}
