section {
  width: 100%;
  height: 750px;
}

.board-logo {
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  flex-direction: column;
  flex-wrap: wrap;
}

.board-logo img {
  width: 40%;
  margin-top: 80px;
}

.board-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center; /* 변경 */
  text-align: center;

  flex-direction: column;
  flex-wrap: wrap;

  position: relative;
}

.write-button {
  width: 85%;
  height: auto;

  display: none;
  justify-content: right;

  margin-bottom: 10px;
}

.write-button button {
  width: 40px;
  height: 20px;

  color: #fff;
  background: #161616;

  font-size: 0.3em;
  font-weight: bold;

  outline: none;
  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.write-button-m {
  position: fixed;

  top: 85%;
  right: 5%;

  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center; /* 변경 */
  text-align: center;

  background-color: #161616;

  border-radius: 50%;
  z-index: 1;
}

.write-button-m button {
  color: #fff;
  background: #161616;

  font-size: 1.3em;
  font-weight: bold;

  outline: none;
  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.board {
}

table {
  font-size: 0.5em;
}

table.table-template {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  line-height: 1.5;
  color: #161616;
}
table.table-template thead th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #161616;
  border-bottom: 2px solid #161616;
}
table.table-template tbody th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #f3f3f3;
  white-space: nowrap; /* 긴 내용을 한 줄로 표시 */
  overflow: hidden; /* 내용이 넘칠 경우 숨기기 */
  text-overflow: ellipsis; /* 숨겨진 내용을 "..."으로 표시 */
  background: white;
}
table.table-template td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #f3f3f3;
  white-space: nowrap; /* 긴 내용을 한 줄로 표시 */
  overflow: hidden; /* 내용이 넘칠 경우 숨기기 */
  text-overflow: ellipsis; /* 숨겨진 내용을 "..."으로 표시 */
}

.reco-class {
  display: none;
}

.pagination {
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* 변경 */
  text-align: center;

  font-size: 10px;

  margin-top: 40px;
}

.pagination a {
  margin-right: 10px;
  color: #2c2c2c;
  filter: drop-shadow(2px 2px 2px #161616);
}

.pagination span {
  margin-right: 10px;
  font-weight: bold;
  filter: drop-shadow(2px 2px 2px #161616);
}

tbody i {
  margin-right: 5px;
}

tbody img {
  width: 40%;
}

/* 각 셀의 너비 조정 */
table.table-template tbody th:nth-child(1),
table.table-template td:nth-child(1) {
  width: 38%; /* 첫 번째 열의 너비를 30%로 설정 */
}

table.table-template tbody th:nth-child(2),
table.table-template td:nth-child(2) {
  width: 20%; /* 두 번째 열의 너비를 20%로 설정 */
}

table.table-template tbody th:nth-child(3),
table.table-template td:nth-child(3) {
  width: 10%; /* 두 번째 열의 너비를 20%로 설정 */
}

table.table-template tbody th:nth-child(4),
table.table-template td:nth-child(4) {
  width: 10%; /* 두 번째 열의 너비를 20%로 설정 */
}

table.table-template tbody th:nth-child(5),
table.table-template td:nth-child(5) {
  width: 12%; /* 두 번째 열의 너비를 20%로 설정 */
}

/* 모달 스타일 */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* 배경을 블랙으로 투명하게 설정 */
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff; /* 모달 내용 배경색 */
  max-width: 400px; /* 모달의 최대 너비 설정 */
  width: 100%; /* 너비를 100%로 설정하여 모달 내용이 너비에 맞게 조절됩니다. */
  height: auto; /* 모달의 높이를 300px로 설정 (원하는 크기로 조절) */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: absolute;
  top: 100%; /* 상단에서 50% 위치에 위치 */
  left: 50%; /* 좌측에서 50% 위치에 위치 */
  transform: translate(-50%, -50%); /* 가운데로 정렬 */
}