/* 왜 commuForm 이름을 boardForm 으로 바꾸면 css 적용이 안되는 거지?*/

hr {
  background: #cccccc;
  height:1px;
  border:0;
}

#section {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  flex-direction: column;
  flex-wrap: wrap;
}

#layout {
  width: 1000px;
  margin-top: 7%;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column; /* 자식 요소들을 세로로 배치 */
  flex-wrap: wrap;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  height: auto; /* 변경 */
}

/* 이게 지금 수정 삭제로 되어있는데 문제가 많음 */
#next-list-button {
  width: 900px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

#next-list-button button {
  width: 50px;
  height: 30px;

  margin-left: 10px;
}

/* 제목 */
#title {
  width: 900px;
  height: 140px;
  margin-bottom: 30px;
}

#title h1 {
  font-size: 1.8em;
  color: #161616;
}

#title h4 {
  font-size: 0.8em;
  color: gray;
  
  margin-top: 90px;
  margin-bottom: 10px;
}

/* 프로필 */
#detail {
  width: 900px;
  height: 50px;

  display: flex;
  justify-content: left;
  align-items: flex-start;
  text-align: left;

  flex-wrap: wrap;

  margin-bottom: 20px;
}

.nickname {
  font-weight: bold;
  font-size: 1.2em;
}

.date-info {
  width: auto;
  height: auto;

  margin-top: 15px;
}

.date-info p {
  font-size: 0.9em;
  margin-top: 5px;

  color: #808080;
}

/* 내용 */
#content {
  width: 900px;
  height: auto;

  margin-top: 40px;
  margin-bottom: 200px;
}

#content p {
  font-size: 1.1em;
}

#content img {
  max-width: 100%;
  margin-top: 30px;
  height: auto;
}

.like-button-div {

  width: auto;
  height: auto;

  margin-bottom: 40px;
}

.like-button-div a {
  font-size: 1.3em;
}

.like-button-div button {
  font-size: 1.3em;

  outline: none;
  border: none;

  background-color: #00000000;

  margin-left: 5px;
}

/* 댓글보기 */
.comment-h2 {
  height: auto;
  width: 900px;

  float: left;

  margin-bottom: 40px;
}

#comment {
  width: 900px;
  min-height: 133px; /* 최소 높이 설정 */
  flex-grow: 1; /* 자동으로 늘어나도록 설정 */
  margin-bottom: 10px;
}

#comment-layout {
  width: auto;
  height: auto;

  min-height: 100px;
}

#comment h2 {
  margin-bottom: 10px;
}

.comment {
  width: auto;
  height: auto;

  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
}

.comment img {
  width: 30px;
  margin-right: 8px;
}

.comment hr {
  background: #cccccc;
  height:1px;
  border:0;
}

.comment-between-section {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-top: 2px;
}

.comment-between-section .date {
  font-size: 0.5em;
  color: #808080;
}

.delete-comment {
  width: auto;
  height: auto;

  margin-bottom: 20px;
}

.more-options {
  display: flex;
}

.more-options button {
  border: 0;
  outline: 0;
  background-color: #fff;
}

.options {
  width: auto;

  display: flex;
  align-items: flex-start;
}

.comments-content {
  width: auto;
  height: auto;

  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 30px;
}

.comments-content button {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: flex-end;

  border: 0;
  outline: 0;
  background-color: #fff;

  margin-top: 10px;
}

.comment-relative {
  width: 100%;
  height: auto;

  margin-bottom: 5px;
}

#comment-absolute {
  width: 100%;
  height: auto;

  font-size: 0.5em;
  margin-top: 5px;
}

#comment-01 {
  width: 900px;
  height: 150px;

  margin-left: 50px;

  display: flex;
  justify-content: left;
  align-items: flex-start;
  text-align: left;

  flex-direction: column;
  flex-wrap: wrap;
}

.reply-relative {
  padding-left: 40px; /* 또는 padding-left: 20px; */
}

/* 댓글입력 */
#comment-input {
  width: 900px;
  min-height: 200px; /* 최소 높이 설정 */
  flex-grow: 1; /* 자동으로 늘어나도록 설정 */

  margin-top: 30px;
}

#comment-input-Area0 {
  width: 900px;
  height: 80px;

  padding: 5px 5px 5px 5px;
  font-size: 1em;

  border-radius: 5px;
  border-color: #cccccc;

  margin-top: 10px;

  resize: none;

}

#comment-input-Area1 {
  width: 900px;
  height: 80px;

  padding: 5px 5px 5px 5px;
  font-size: 1em;

  border-radius: 5px;
  border-color: #cccccc;
  margin-top: 10px;

  resize: none;
}

#comment-input-Area2 {
  width: 900px;
  height: 80px;

  padding: 5px 5px 5px 5px;
  font-size: 1em;

  border-radius: 5px;
  border-color: #cccccc;
  margin-top: 10px;

  resize: none;
}

#comment-input-Area3 {
  width: 900px;
  height: 80px;

  padding: 5px 5px 5px 5px;
  font-size: 1em;

  border-radius: 5px;
  border-color: #cccccc;
  margin-top: 10px;

  resize: none;
}

.submit {
  width: 900px;
  height: auto;
  
  display: flex;
  justify-content: right;
  align-items: center;
}

.submit p {
  font-size: 0.7em;
  color: #161616;
}

.button {
  display: block;
  float: right;
  width: 50px;
  height: 30px;

  color: #808080;
  background-color: #fff;

  border: 0;
  outline: 0;

  font-size: 1em;
  font-weight: bold;
  margin-left: 10px;
}

.btnFade.btnBlack:hover {
  color: #000000;

  box-shadow: none;

}

.next-pre-post {
  width: 900px;
  height: auto;

  display: flex;
  justify-content: left;
  align-items: flex-start;
  text-align: left;

  flex-direction: column;
  flex-wrap: wrap;

  font-size: 1.2em;
  color: #808080;

  margin-top: 20px;
  margin-bottom: 50px;
}

.next-pre-post .next-post, .previous-post {
  margin-top: 10px;
}


.no-previous-post,
.no-next-post {
    font-style: italic;
    color: #777;
}

.post-list {
  margin-top: 50px;
  color: #161616;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.pagination a {
  display: block;
  color: #777;
}