section {
    width: 100%;
    height: 795px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#layout {
    width: 800px;
    height: 700px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    flex-direction: column;
    flex-wrap: wrap;

    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    margin-top: 50px;
}

#first {
    width: 95%;
    height: 90%;

    display: flex;
    justify-content: flex-start;

    flex-direction: column;
    flex-wrap: wrap;
}

.tab_menu {
    width: 100%;
}

.tab_list {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #161616;
    padding-bottom: 30px;
    padding-top: 5px;
    align-items: center;
    justify-content: center
}

.tab_list li{
    margin: 0 30px;
}

.btn {
    display: block;
    position: relative;
    float: left;
    width: 120px;
    padding: 0;
    margin: 0 20px 0 0;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    color: #FFF !important;
    border-radius: 5px;
    transition: all 0.2s
}
.clear {
    clear: both;
}
.btnGray {
    background: #575757;
}

.btnFade:hover {
    background: #181818;
}

.cancle_Fade:hover {
    background: #181818;
    color: white;
}

.myInfo p {
    width: 300px;
    margin-left: 50px;
    text-align: center;
}

.inputBox p {
    display: inline-block;
    width: 300px;
    text-align: center;
    margin-left: 245px;
}

.myInfo input {
     width: 300px;
     height: 60px;
     padding: 0 20px;
     box-sizing: border-box;
     border-radius: 4px;
     background-color: white;
    margin-left: 50px;
 }
.myInfo button {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 70px;
    height: 20px;

    justify-content: center;
    display: block;

    color: #fff;
    background: #161616;

    outline: none;
    border: none;

    cursor: pointer;
}
#divemail button {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 40px;
    height: 20px;

    justify-content: center;
    display: block;

    color: #fff;
    background: #161616;

    outline: none;
    border: none;

    cursor: pointer;
}
#verificationCode {
    margin-right: 15px;
}
.inputBox button {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 40px;
    height: 20px;

    justify-content: center;
    display: block;

    color: #fff;
    background: #161616;

    outline: none;
    border: none;

    cursor: pointer;
}

.inputBox input {
    width: 290px;
    height: 60px;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: white;
    margin-left: 30px;
}
#divemail input {
    margin-right: 15px;
}
.divBorder {
    border-bottom: 1px solid #bfbfbf;
    width: 760px;

    padding-bottom: 10px;
    padding-top: 10px;
}
.divPassword {
    border-bottom: 1px solid #bfbfbf;
    height: 90px;
    width: 760px;

    padding-bottom: 10px;
    padding-top: 10px;
}
#nickForm{
    display: inline-block;
    width: 500px;
    margin-left: 60px;
}
#nickForm button{
    float: right;
    width: 65px;
    height: 20px;

    justify-content: center;
    display: block;

    color: #fff;
    background: #161616;

    outline: none;
    border: none;

    cursor: pointer;
}
#emailForm{
     display: inline-block;
     width: 500px;
     margin-left: 60px;
 }
#emailForm button{
    float: right;
    width: 65px;
    height: 20px;

    justify-content: center;
    display: block;

    color: #fff;
    background: #161616;

    outline: none;
    border: none;

    cursor: pointer;
}
.myInfo {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myProfile {
    width: 700px;
    display: flex;
    border-bottom: 1px solid #bfbfbf;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.inputBox {
    margin-top: 15px;
    display: flex;
    align-items: center;
}
#withdrawInputBox {
    height: 60px;
    margin-left: 20px;
}
#withdrawInputBox input{
    margin-left: 160px;
}
#withdrawInputBox p {
    display: inline-block;
    width: 100px;
    text-align: center;
    margin-left: 145px;
}
#countForm {
    margin-top: 5px;
    font-size: 0.8em;
}
#verificationStatus {
    margin-top: 2px;
    font-size: 0.8em;
}
.myInfo h4{
    display: inline-block;
    margin-left: 110px;
    width: 100px;
}
.myProfile h4{
    display: inline-block;
    width: 100px;
}
.inputBox h4{
    display: inline-block;
    margin-left: 145px;
    width: 100px;
}
.btn_div{
    margin-top: 10px;
}
#verificationCodeForm .inputBox{
    margin-top: 0;
}
.submit {
    width: 80px;
    height: 50px;
    display: inline-block;
    color: #fff;
    font-size: 1em;
    font-weight: bold;

    outline: none;
    border: none;
    border-radius: 5px;

    cursor: pointer;
}
.cancel {

    width: 80px;
    height: 50px;
    display: inline-block;

    color: #161616;
    background: #fff;

    font-size: 1em;
    font-weight: bold;

    border: 1px solid #161616;
    border-radius: 5px;

    cursor: pointer;
}

#header {
    display: flex;
    justify-content: space-between;

    width:100%;
    height: 50px;

    /* 상단고정 */
    position: fixed;

    /* color */
    color: white;
    background-color: #161616;

    z-index:1
}

.logo {
    width: 100px;
}

.logo > img {
    width: 60px;
    padding: 8px 10px 20px 20px;
}

.nav {
    display: flex;
    margin-right: 40px;
    font-size: 12px;
    align-items: center;
    text-overflow: clip;

    background-color: #161616;
}
.tab_menu .cont_area .cont{
    display:none;
}