/* header의 글자를 반응형 웹으로 수정할 때
아예 시발 사라지게 하고 싶다... 왜 찾아도
나오지 않는 걸까? 힘들다... */


#header {
  display: flex;
  justify-content: space-between;

  width:100%;
  height: 60px;

  /* 상단고정 */
  position: fixed;

  /* color */
  color: white;
  background-color: #161616;

  z-index:1
}

.logo {
  width: 100px;
}

.logo > img {
  width: 60px;
  padding: 12px 10px 20px 20px;
}

.nav {
  display: flex;
  margin-right: 40px;
  font-size: 12px;
  align-items: center;
  text-overflow: clip;

  background-color: #161616;
}

.nav > li {
  margin-left: 80px;
}

/* linkone */
.link-1 a:before, .link-1 a:after {
  content: '';
  border-bottom: solid 1px white;
  position: absolute;
  bottom: 0;
  width: 0;
}

.link-1 a:before { left: 0; }
.link-1 a:after { right: 0; }

.link-1 a:hover:before, .link-1 a:hover:after {
  width: 50%;
}

.link-1 a:before, .link-1 a:after {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}