.link-1 a {
  color: white;
}

#header {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 60px;

  /* 상단고정 */
  position: fixed;

  /* color */
  color: white;
  background-color: #161616;

  z-index:1
}

.logo {
  width: 100px;
}

.logo > img {
  width: 60px;
  padding: 12px 10px 20px 20px;
}

.nav {
  display: flex;
  margin-right: 40px;
  font-size: 12px;
  align-items: center;
  text-overflow: clip;

  background-color: #161616;
}

.nav > li {
  margin-left: 80px;
}

/* linkone */
.link-1 a:before, .link-1 a:after {
  content: '';
  border-bottom: solid 1px white;
  position: absolute;
  bottom: 0;
  width: 0;
}

.link-1 a:before { left: 0; }
.link-1 a:after { right: 0; }

.link-1 a:hover:before, .link-1 a:hover:after {
  width: 50%;
}

.link-1 a:before, .link-1 a:after {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.nav-button {
  position: absolute;

  top: 10px;
  right: 0px;

  margin-top: 10px;
  margin-right: 10px;

  font-size: 18px;

  display: none;
}

.nav-toggle-button {
  position: fixed;

  width: 100%;
  height: 300px;
  margin-top: 60px;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 1;

  background-color: #161616;
  font-size: 13px;
}

.nav-toggle-button li {
  margin-bottom: 25px;
}

/* 반응형 */

@media screen and (max-width: 1030px) {
  .nav {
    display: none;
  }

  .nav-button {
    display: block;
  }

  .nav-toggle-button.active {
    display: flex;
  }
}