/* Docs sample */

body{
    margin:0;
    padding:0;
    overflow:hidden;
}

#canvas{
    width: 825px;
    height: 940px;
}

#book-zoom{
    width: 825px;
    height: 940px;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -ms-transition: -ms-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
}

.animated{
    -webkit-transition:margin-left 0.2s ease-in-out;
    -moz-transition:margin-left 0.2s ease-in-out;
    -o-transition:margin-left 0.2s ease-in-out;
    -ms-transition:margin-left 0.2s ease-in-out;
    transition:margin-left 0.2s ease-in-out;
}

.sample-docs{
    width:651px;
    height:940px;
    box-shadow:5px 5px 5px #ccc;
}

.sample-docs .page{
    width:651px;
    height:940px;
    background:white;

    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
    -ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
    -o-box-shadow:0 0 20px rgba(0,0,0,0.2);
    box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.sample-docs .p2{
    background-position:-471px 0;
}

.sample-docs .p28{
    background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
    background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:linear-gradient(left, #fff 95%, #dadada 100%);
}

.sample-docs .p29{
    background-position:-942px 0;
}

.sample-docs .p30{
    background-position:-1413px 0;
}

.sample-docs .even .gradient{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:url(/img/manual/right-border.png);
    background-position:right top;
    background-repeat: repeat-y;
}

.sample-docs .odd .gradient{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:url(/img/manual/left-border.png);
    background-position:left top;
    background-repeat: repeat-y;
}

.sample-docs .page-wrapper{
    -webkit-perspective:2000px;
    -moz-perspective: 2000px;
    -ms-perspective: 2000px;
    perspective: 2000px;
}


.sample-docs .shadow{
    -webkit-transition: -webkit-box-shadow 0.5s;
    -moz-transition: -moz-box-shadow 0.5s;
    -o-transition: -webkit-box-shadow 0.5s;
    -ms-transition: -ms-box-shadow 0.5s;

    -webkit-box-shadow:0 0 20px #ccc;
    -moz-box-shadow:0 0 20px #ccc;
    -o-box-shadow:0 0 20px #ccc;
    -ms-box-shadow:0 0 20px #ccc;
    box-shadow:0 0 20px #ccc;
}

.tabs{
    width:170px;
    height:940px;
    position:relative;
    z-index:0;
    float: right;
}

.tabs > div{
    width:170px;
    height:1000px;
    text-align: center;
}



.tabs a{
    color:black;
    border-width: 5px 20px 5px 20px;
    display:inline-block;
    font:bold 20px arial;
    text-shadow:1px 1px 0 #ddd;
    color:#333;
    line-height:15px;
    text-decoration:none;
}
.tabs img{
    position: relative;
    width: 200px;
    height: 75px;
    padding-right: 30px;
    left: -150px;
    transition: left 0.2s ease;
}

.tabs .on,
.tabs .on:hover{
    cursor:default;
    left: -15px;
    transition: left 0.2s ease;
}

.tabs img:hover{
    text-decoration: none;
    cursor:pointer;
    left: -15px;
    transition: left 0.2s ease;
}
