section {
  width: 100%;
  height: 2400px;

  position: relative;
  background-color: #161616;
}

.notice-background {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  flex-direction: column;
  flex-wrap: wrap;
}

.container-01 {
  width: 100%;
  height: 350px;

  display: grid;
  width: 100%;
}

/* 첫 번째 그리드 */
#notice-logo {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#notice-logo img {
  width: 55%;
  margin-top: 90px;
}

.search {
  position: relative;
  margin-right: 80px;

  display: none;
}

/* 왜 이러는 거임

.search-input {
  background-color: #fff;
  color: #161616;

  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width 0.3s ease;
}

.search-btn {
  background-color: #fff;
  color: #161616;
  
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: transform 0.3s ease;
}

.search-btn:focus,
.search-input:focus {
  outline: none;
}

.search.active .search-input {
  width: 200px;
}

.search.active .btn {
  transform: translateX(198px);
} */

/* grandopen logo */
#grandopen-logo {
  width: 100%;

  display: flex;
  justify-content: center;
  text-align: center;
}

#grandopen-logo img {
  display: none;
}

/* 세 번째 섹션 */
#thirdSection {
  width: 100%;
  height: 1800px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#thirdSectionBox {
  width: 100%;
  height: 1800px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #161616;
}

.title {
  color: black;
}

.content-div {
  font-size: 10px;
  color: #161616;
}

.content-div {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: repeat(1, 1fr);
  gap: 80px;
}

.content-div img {
  max-width: 100%;
  height: auto;
}

.grid-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  flex-direction: column;
  flex-wrap: wrap;
}

.grid-content-img-layout {
  width: 320px;
  height: 220px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: #ebebeb;
}

.grid-content-title {
  font-size: 2em;
  font-weight: bold;

  color: #ffffff;
}

.grid-container {
  width: 350px;
  height: auto;

  margin-top: 10px;

  justify-content: left;
  text-align: left;
}

.grid-container div {
  margin-top: 5px;
  margin-left: 25px;
}

.grid-container > .grid-content-num, .grid-content-date {
  color: #ccc;
}

.pagination {
  width: auto;
  height: auto;

  color: rgb(255, 255, 255);
  text-shadow: 10px 10px 20px black;

  margin-top: 50px;
}