section {
  width: 100%;
  height: 1650px;

  position: relative;
}

.notice-background {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  flex-direction: column;
  flex-wrap: wrap;

  background-image: url("background/info2.png");
  color: white;
  background-repeat: no-repeat;

  background-size: 100% 800px;
}

.container-01 {
  display: grid;
  width: 100%;

  grid-template-rows: 200px 350px;
}

/* 첫 번째 그리드 */
#notice-logo {
  width: 100%;
  margin-top: 150px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#notice-logo img {
  margin: 20px 0px 20px 80px;
}

.search {
  position: relative;
  margin-right: 80px;
}

/* 왜 이러는 거임

.search-input {
  background-color: #fff;
  color: #161616;

  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width 0.3s ease;
}

.search-btn {
  background-color: #fff;
  color: #161616;
  
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: transform 0.3s ease;
}

.search-btn:focus,
.search-input:focus {
  outline: none;
}

.search.active .search-input {
  width: 200px;
}

.search.active .btn {
  transform: translateX(198px);
} */

/* grandopen logo */
#grandopen-logo {
  width: 100%;

  display: flex;
  justify-content: center;
  text-align: center;
}

#grandopen-logo img {
  width: 1064px;
  height: 92px;

  margin-top: 100px;
}

/* 세 번째 섹션 */
#thirdSection {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#thirdSectionBox {
  width: 1500px;
  height: 900px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  box-shadow: 10px 10px 20px black;
  background-color: white;
}

.title {
  color: black;
}

.content-div {
  font-size: 10px;
  color: #161616;
}

.content-div {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
}

.content-div img {
  max-width: 100%;
  height: auto;
}

.grid-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  flex-direction: column;
  flex-wrap: wrap;
}

.grid-content-img-layout {
  width: 350px;
  height: 250px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: #ebebeb;
}

.grid-content-title {
  font-size: 2em;
  font-weight: bold;

  color: #161616;
}

.grid-container {
  width: 350px;
  height: auto;

  margin-top: 10px;

  justify-content: left;
  text-align: left;
}

.grid-container div {
  margin-top: 5px;
  margin-left: 10px;
}

.grid-container > .grid-content-num, .grid-content-date {
  color: #ccc;
}

.pagination {
  width: auto;
  height: auto;

  color: black;
  text-shadow: 10px 10px 20px black;

  margin-top: 50px;
}