section {
  width: 100%;
  height: 1650px;

  position: relative;
}

.notice-background {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  flex-direction: column;
  flex-wrap: wrap;

  background-image: url("background/info2.png");
  color: white;
  background-repeat: no-repeat;

  background-size: 100% 800px;
}

.container-01 {
  display: grid;
  width: 100%;

  grid-template-rows: 200px 350px;
}

/* 첫 번째 그리드 */
#notice-logo {
  width: 100%;
  margin-top: 150px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#notice-logo img {
  margin: 20px 0px 20px 80px;
}

#search-div {
  width: 300px;
  height: 50px;
  
  border-radius: 20px;
  background-color: #fff;
  color: #161616;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  margin-right: 50px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#search-div input{
  width: 200px;
  font-size: 1em;

  outline: none;
  border: none;
}

#search-div button {
  color: #161616;
  background-color: #16161600;

  font-size: 1em;
  font-weight: bold;

  outline: none;
  border: none;
}

/* grandopen logo */
#grandopen-logo {
  width: 100%;

  display: flex;
  justify-content: center;
  text-align: center;
}

#grandopen-logo img {
  width: 1064px;
  height: 92px;

  margin-top: 100px;
}

/* 세 번째 섹션 */
#thirdSection {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#thirdSectionBox {
  width: 1500px;
  height: 900px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  box-shadow: 10px 10px 20px black;
  background-color: white;
}

.title {
  color: black;
}

.content-div {
  font-size: 10px;
  color: #161616;
}

.content-div {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
}

.content-div img {
  max-width: 100%;
  height: auto;
}

.grid-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  flex-direction: column;
  flex-wrap: wrap;
}

.grid-content-img-layout {
  width: 350px;
  height: 250px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: #ebebeb;
}

.grid-content-title {
  font-size: 2em;
  font-weight: bold;

  color: #161616;
}

.grid-container {
  width: 350px;
  height: auto;

  margin-top: 10px;

  justify-content: left;
  text-align: left;
}

.grid-container div {
  margin-top: 5px;
  margin-left: 10px;
}

.grid-container > .grid-content-num, .grid-content-date {
  color: #ccc;
}

.pagination {
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* 변경 */
  text-align: center;

  margin-top: 40px;
}

.pagination a {
  margin-right: 10px;
  color: #2c2c2c;
  filter: drop-shadow(2px 2px 2px #161616);
}

.pagination span {
  margin-right: 10px;
  font-weight: bold;
  filter: drop-shadow(2px 2px 2px #161616);
}