section {
  width: 100%;
  height: 2000px;

  position: relative;
}

.notice-background {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  flex-direction: column;
  flex-wrap: wrap;

  background-image: url("background/info.png");
  color: white;
  background-repeat:no-repeat;
  background-size: contain;
}

.container-01 {
  display: grid;
  width: 100%;

  grid-template-rows: 200px 350px;
}

/* 첫 번째 그리드 */
#notice-logo {
  width:100%;

  margin-top: 150px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#notice-logo img {
  margin: 20px 0px 20px 80px;
}

#search {
  margin-right: 80px;
}

#search button {
  background-color: black;
  color: white;
}

/* grandopen logo */
#grandopen-logo {
  width: 100%;

  display: flex;
  justify-content: center;
  text-align: center;
}

#grandopen-logo img {
  width: 1064px;
  height: 92px;

  margin-top: 100px;
}

/* 세 번째 섹션 */
#thirdSection {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#thirdSectionBox {
  width: 80%;
  height: 800px;

  box-shadow: 10px 10px 20px black;
  background-color: white;
}

.boxSection {
  display: grid;
  width: 100%;

  margin-top: 100px;
  margin-left: 100px;

  grid-template-columns: 25% 60%;
}

.boxSection h1 {
  font-size: 2em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.boxSection p {
  font-size: 1.3em;
}

.box {
  width: 350px;
  height: 200px;
  background-color: black;
}

.title {
  color: black;
}

.content {
  color: black;
}

#secondBoxSection {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#moreBox {
  position: absolute;

  width: 70%;
  height: 60px;

  margin-top: 280px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: #161616;
}

.page-numbering {
  width: auto;
  height: auto;

  color: black;
  text-shadow: 10px 10px 20px black;

  margin-top: 30px;
}

/* 수정된 table 스타일 */
table.type09 {
  border-collapse: collapse;
  text-align: center;
  line-height: 1.5;
  width: 100%; /* 테이블 전체 가로 길이를 100%로 설정 */
}

table.type09 thead th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #161616;
  border-bottom: 2px solid #161616;
}

table.type09 tbody th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #f3f3f3;
  background: white;
}

table.type09 td {
  width: 300px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #f3f3f3;
}