section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}


#secondLayout {
  min-height: 760px;
  width: 720px;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  overflow-x: hidden;
  display: flex;
  /*justify-content: center;
  align-items: center;*/
  /*text-align: center;*/
  max-width: 700px;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 20px;

  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#first{
  width: 650px;
}
#secondLayout h2 {
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 20px;
/*
  text-align: left;*/

/*  margin-bottom: 30px;*/
}
#chat-messages {
  padding: 20px;
  max-height: 600px; /* 채팅 메시지 영역의 최대 높이 설정 */
  overflow-y: auto; /* 스크롤 가능하도록 설정 */
  margin-bottom: 60px; /* 채팅 메시지 아래 여백을 전송 버튼 높이만큼 설정 */
}

#chat-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute; /* 부모 요소인 #secondLayout에 대해 absolute로 설정 */
  bottom: 0; /* 화면 하단에 위치하도록 설정 */
  width: 95%;
  padding: 20px;
  background-color: rgb(79, 78, 78);
 /* display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute; !* 절대 위치 설정을 위해 position을 사용 *!
  bottom: 0; !* 화면 하단에 위치하도록 설정 *!*/
}

#message-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
}

#send-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 10px;
}

#send-button:hover {
  background-color: #0056b3;
}
.msg-received {

  text-align: left;
  padding: 10px;
  border-radius: 15px;
  margin: 10px 0;
  max-width: 100%; /* 메시지 말풍선의 최대 너비 조절 */
  float: left; /* 왼쪽으로 플로팅 */
  clear: both; /* 플로팅 해제 */
}

/* 발신자 메시지 말풍선 */
.msg-sent {
  text-align: right;
  padding: 10px;
  border-radius: 15px;
  margin: 10px 0;
  max-width: 100%; /* 메시지 말풍선의 최대 너비 조절 */
  float: right; /* 오른쪽으로 플로팅 */
  clear: both; /* 플로팅 해제 */
}
.message-received {
  position: relative;
  background-color: #EFEFEF;
  color: #333;
  text-align: left;
  padding: 10px;
  margin: 5px 0;
  max-width: 400px;
  width: auto;
  float: left;
  clear: both;
  min-width: 100px;
  min-height: 25px;
  overflow-wrap: break-word;
  align-items: center;
}

.message-received:after {
  content: "";
  position: absolute;
  top: 10.5px;
  left: -18px; /* 오른쪽에서 왼쪽으로 이동 */
  border-right: 20px solid #EFEFEF; /* border-left 대신 border-right로 수정 */
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.message-sent:after {
  content:"";
  position: absolute;
  top: 10.5px;
  right: -18px;
  border-left: 20px solid #007BFF;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
/* 발신자 메시지 말풍선 */
.message-sent{
  position: relative;
  background-color: #007BFF;
  color: white;
  text-align: left;
  padding: 10px;
  margin: 5px 0;
  max-width: 400px;
  height: auto;
  float: right; /* 오른쪽으로 플로팅 */
  clear: both; /* 플로팅 해제 */
  min-width: 100px; /* 최소 너비 설정 (원하는 최소 크기로 조절) */
  min-height: 25px;
  overflow-wrap: break-word;
  align-items: center;
}

.message-received-header{
  color: black;
  text-align: left;

  border-radius: 15px;

  max-width: 100%; /* 메시지 말풍선의 최대 너비 조절 */
  float: left; /* 왼쪽으로 플로팅 */
  clear: both; /* 플로팅 해제 */
}

/* 발신자 메시지 말풍선 */
.message-sent-header {
  color: black;
  text-align: right;

  border-radius: 15px;

  max-width: 100%; /* 메시지 말풍선의 최대 너비 조절 */
  float: right; /* 오른쪽으로 플로팅 */
  clear: both; /* 플로팅 해제 */
}

.message-received-read{
  color: #3a3a3a;
  text-align: left;

  border-radius: 15px;

  max-width: 100%; /* 메시지 말풍선의 최대 너비 조절 */
  float: right; /* 왼쪽으로 플로팅 */
  clear: both; /* 플로팅 해제 */
  font-size:0.7em;
}

/* 발신자 메시지 말풍선 */
.message-sent-read {
  color: #595757;
  text-align: left;

  border-radius: 15px;

  max-width: 50%; /* 메시지 말풍선의 최대 너비 조절 */
  float: left; /* 오른쪽으로 플로팅 */
  clear: both; /* 플로팅 해제 */
  font-size:0.7em;

}